/* site menu */
#top-section .site-menu{
	display: block;
	margin: 0 auto;
	position:relative;
}
	#top-section .site-menu ul,div.site-menu ul
	{
		list-style: none;
		margin: 0;
		padding: 0;

	}
											
		#top-section .site-menu li,
		div.site-menu li
		{
			float: left;
			position: relative;
			display: inline;
		}
			#top-section .site-menu li,
			div.site-menu li li {
			float: left;
			position: relative;
			}
										
				#top-section .site-menu ul ul {
					display: none;
					position: absolute;
					top: 41px;
					left: 0;
					float: left;
					z-index: 99999;
				}
					#top-section .site-menu a{
						color: #fff;
						display: block;
						line-height: 41px;
						padding: 0;
						text-decoration: none;
						font-weight: normal;
					}
						#top-section .site-menu ul li:hover > ul {display: block;}
										
							/*parent menu style*/
							#top-section .site-menu li:hover > a,
							#top-section .site-menu ul ul :hover > a
							{
								background:#306427;
								color: #fff;
							}
								/* sub menu */
								#top-section .site-menu ul ul a{
									background:url(../img/active-dd.png);
									line-height: 1em;
									padding: 10px;
									height: auto;
									color:#000;
								}
										
									#top-section .site-menu ul ul a:hover
									{
										background:url(../img/selected-dd.png);
										color:#fff;
										line-height: 1em;
										padding: 10px;
										width: 195px;
										height: auto;
									}
										
										#top-section .site-menu ul ul a:before{content: "\00BB";display: block;float: left;padding:0 2px 0 0;color:#000;}
										#top-section .site-menu ul ul a:hover:before{content: "\00BB";display: block;float: left;padding:0 2px 0 0;color:#fff;}
										