/* XS */
@media(max-width:767px){			
		#top-section .siginbt,#top-section .scorecardbt{float:none;width:100%;}
		#top-section .logo-col{float:none;margin:0 auto;}
		
											/* tinynav */
										   .tinynav { display: block; }
    										#menu-main-menu{ display: none;}
											#top-section .site-menu li,div.site-menu li,#top-section .site-menu ul ul a,#top-section .site-menu ul ul a:hover{width: 95px;text-align: center;font-size: 8px}
											.owner-email{font-size:11px;}

											#top-section {margin: 0 0 20px 0;}
						
											
											.social-networks{margin:5px 0 5px 0;}
											
											#footer ul li{font-size:11px;}
											
											
											#sidebar-r .more-links{margin: 0 auto ;
text-align: center;padding:0 0 10px 0;}
											#sidebar-r .scorecard-content{font-size:11px;text-align:center;}
											
											
											
												#mid-col-main .s-property-img-big,#mid-col-main .s-property-map{width:100%;float:left;}
													#page-content .mid-col{border:0;min-height:860px;}
														#mid-col-main .lit-info{width:100%;}
														
															#mid-col-main img.agentpic{width:30%;}

											
											/* scorecardbox */
											#scorecardbox{width:100% !important;}
											#scorecardbox .scrollable-content{width:65%;}
											#scorecardbox .msgbtn{font-size:11px;}
											
	
											
											
}

/* SM */
@media(min-width:768px){
		#top-section .siginbt,#top-section .scorecardbt{float:right;width:35%;}
		#top-section .logo-col{float:left;margin:0 auto;}
											/* tinynav */
										   .tinynav { display: none; }
    										#menu-main-menu,#page-links ul{ display: block;}
											#top-section .site-menu li,div.site-menu li,#top-section .site-menu ul ul a,#top-section .site-menu ul ul a:hover{width: 125px;text-align: center;font-size: 11px}
													#page-links ul li a{padding: 20px 30px 10px 30px;}
													#page-links ul li:first-child a{padding: 20px 30px 10px 0px;}
											

												#top-section {margin: 0 0 20px 0;}
											
													.owner-email{font-size:11px;}
													#footer ul li{font-size:12px;}
													
													#sidebar-r .scorecard-content{font-size:11px;text-align:center;}
														#mid-col-main .s-property-img-big,#mid-col-main .s-property-map{width:100%;float:left;}
														#page-content .mid-col{border:0;min-height:860px;}
															#mid-col-main .lit-info{width:100%;}
															
													
								
											/* scorecardbox */
											#scorecardbox{width:100% !important;}
											#scorecardbox .scrollable-content{width:78%;}
											#scorecardbox .msgbtn{font-size:11px;}
}

/* MD */
@media(min-width:992px){
		#top-section .siginbt,#top-section .scorecardbt{float:right;width:35%;}
		#top-section .logo-col{float:left;margin:0 auto;}
											/* tinynav */
										   .tinynav { display: none; }
    										#menu-main-menu,#page-links ul{ display: block;}
											
												#page-content{margin:0px auto;}
												
												#top-section {margin: 0;}
												
												
												#page-links ul li a{padding: 20px 8px 10px 8px !important;}
												#page-links ul li:first-child a{padding: 20px 8px 10px 0 !important;}
												
												
												#top-section .site-menu li,div.site-menu li,#top-section .site-menu ul ul a,#top-section .site-menu ul ul a:hover{width: 161px;text-align: center;font-size: 13px}
												
												#sidebar-r .scorecard-content{font-size:14px;}
												
												#experts-box .expert-desc{width:46%;}
												
												#page-content .mid-col{border-left:1px solid #bcbcbc;border-right:1px solid #bcbcbc;min-height:860px;}
												#mid-col-main .lit-info{width:33%;}
												
												#scorecardbox .msgbtn{font-size:13px;}
												
				
}

/* LG */
@media(min-width:1200px){
		#top-section .siginbt,#top-section .scorecardbt{float:right;width:35%;}
		#top-section .logo-col{float:left;margin:0 auto;}
											/* tinynav */
										   .tinynav { display: none; }
    										#menu-main-menu,#page-links ul{ display: block;}
											
												#top-section {margin:  0;}
												#top-section .site-menu li,div.site-menu li,#top-section .site-menu ul ul a,#top-section .site-menu ul ul a:hover{width: 195px;text-align: center;font-size: 14px}
												
												
											#page-links ul li a{padding: 20px 15px 10px 15px !important;}
											#page-links ul li:first-child a{padding: 20px 15px 10px 0px !important;}
										
											#page-content .mid-col{border-left:1px solid #bcbcbc;border-right:1px solid #bcbcbc;min-height:860px;}
											
												.owner-email{font-size:13px;}
												#footer ul li{font-size:14px;}
											
											#sidebar-r .scorecard-content{font-size:14px;text-align:right;}
											
											#experts-box .expert-desc{width:56%;}
											#mid-col-main .lit-info{width:33%;}
												#mid-col-main .lit-mini{width:23%;}
												
												
												/* scorecardbox */
												
												#scorecardbox{width:74% !important;}
												#scorecardbox .scrollable-content{width:80%;}
												#scorecardbox .msgbtn{font-size:13px;}

}